/* Content of homes.css */
@import url('./homes.css');

/* Content of Blog.css */
@import url('./Blog.css');

/* Content of About.css */
@import url('./About.css');

/* Content of contact.css */
@import url('./contact.css');

/* Content of Design.css */
@import url('./Design.css');

/* Content of Migrate.css */
@import url('./Migrate.css');

/* Content of Pageapp.css */
@import url('./Pageapp.css');

/* Content of Store.css */
@import url('./Store.css');

/* Content of message.css */
@import url('./message.css');

/* Content of Speed.css */
@import url('./Speed.css');

/* Content of seo.css */
@import url('./seo.css');

/* Content of Build.css */
@import url('./Build.css');
