.theme-and--section {
    display: inline-block;
    width: 100%;
    background-image: url(../images/storebg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


.theme-and--section {
    text-align: center;
}

.theme-and--section .theme-section-h1 {
    max-width: 45%;
    margin: auto;
    margin-bottom: 20px;
}

.theme-and--section .theme-section-p p {
    max-width: 67%;
    margin: auto;
    margin-bottom: 25px;
}

.theme-and--section {
    text-align: center;
    padding: 70px 0 180px 0;
}

.theme-section-layout-Customization {
    position: relative;
}

.theme-section-layout {
    position: relative;
    width: 100%;
    max-width: 92%;
    z-index: 7;
    overflow: hidden;
}

.theme-and--section .theme-section-slides {
    padding-right: 20px;
}

.theme-section-img img {
    width: 100%;
}


.theme-and--section .theme-section-p {
    position: absolute;
    left: 32%;
    bottom: -22%;
}

.theme-and--section .slick-slider button.slick-arrow.slick-prev {
    display: none !important;
}

.theme-and--section .slick-slider button.slick-arrow.slick-next {
    display: none !important;
}

.theme-and--section .theme-section-sidebar img {
    width: 100%;
}

.theme-and--section .theme-section-sidebar {
    position: absolute;
    right: 4.6%;
    bottom: -1%;
    z-index: 2;
}

.theme-and--section .theme-section-circle {
    position: absolute;
    top: -10%;
    right: 4%;

}

.theme-section-shopify-image-rename {
    position: absolute;
    left: 1%;
    bottom: -10%;

}

.theme-section-shopify-image-rename img {
    width: 100%;
}

.theme-and--section .theme-section-circle img {
    width: 100%;
}

.theme-section-shopify-image {
    position: absolute;
    top: -15%;
    right: 9.9%;
    z-index: 4;
}

.theme-section-shopify-image img {
    width: 100%;
}

.theme-and--section .theme-section-slider-first {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 10.9%;
    left: 34%;
    max-width: 89%;
}

.theme-section-img {
    font-size: 0;
}

.theme-section-slides img {
    width: 100%;
}

.branding--section-elementor {
    padding: 80px 0;
}

.branding--section-elementor .branding-section-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.branding--section-elementor .branding-section-element {
    width: 100%;
    max-width: 700px;
    margin: 0 0 0 auto;
}

.branding--section-elementor .branding-section-image {
    width: 50%;
}

.branding--section-elementor .branding-section-image img {
    width: 100%;
}

.display--section-product {
    background-image: url(../images/custombg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.display--section-product .product-section-image {
    width: 50%;
}

.display--section-product .product-section-image img {
    width: 100%;
}

.display--section-product .product-section-element {
    width: 50%;
}


.display--section-product .product-section-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display--section-product .product-section-element h2 {
    max-width: 80%;
}

.display-section-Optimization-line {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}

.display-section-Optimization-elements p {
    max-width: 76%;
}

.display-section-Optimization-icon svg {
    margin-top: 5px;
}

.display-section-Optimization {
    margin-top: 20px;
}

.custum--section-features {
    background-image: url(../images/custombgg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
}

.custum--section-features .custum-section-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custum--section-features .custum-section-item .custum-section-item-elements {
    width: 100%;
    max-width: 700px;
    margin: 0 0 0 auto;
}

.custum--section-features .custum-section-item .custum-section-item-image {
    width: 50%;
}

.custum--section-features .custum-section-item .custum-section-item-elements h2 {
    max-width: 82%;
}

.custum--section-features .display-section-Optimization-elements p {
    max-width: 86%;
}


.cro--section-seo {
    padding: 50px 0 170px;
}

.cro--section-seo .cro-friendly.customization-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cro--section-seo .cro-friendly.customization-flex .cro-friendly.customization-image {
    width: 50%;
}

.cro--section-seo .cro-friendly.customization-flex .cro-friendly.customization-image img {
    width: 100%;
}

.cro-friendly.customization-element {
    width: 50%;
}
.cro-friendly.customization-element h2 {
    max-width: 90%;
}

.cro-friendly.customization-element p {
    max-width: 74%;
    margin-top: 10px;
}

.theme-section-shopify-image-red {
    position: absolute;
    right: 9%;
    bottom: -8%;
    z-index: 10;
}
.theme-section-shopify-image-red img {
    width: 85%;
}